*.identcache
.gitignore_old/.gitignore
*.~1~
*.~2~
*.~3~
*.~4~
*.local
*.res
*.skincfg
*.~5~
*.~6~
*.~7~
*.~10~
*.~11~
*.~12~
*.~8~
*.~9~
*.~13~
*.~14~
*.~15~
*.~16~
*.~54~
*.~55~
*.~56~
*.~57~
*.~58~
*.~59~
*.~60~
*.~61~
*.~62~
*.~63~
*.dcu
*.ico
*.stat
*.tvsconfig
*.~19~
*.~20~
*.~21~
*.~22~
*.~23~
*.~24~
*.~25~
*.~26~
*.~27~
*.~28~
*.~17~
*.~18~
*.exe
